* {
  background-color: lightgray;
  color: black;
}

.title{
  text-align: center;
}

.buttonStyle{
  border-radius: 8px 8px 8px 8px;
  padding: 4px 20px 4px 20px;
  margin-bottom: 10px;
}

.container{
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
}

.leftSide{
  display:flex;
  flex-direction: column;
  max-width:70%;
  padding: 10px 20px;
  border-right: 3px solid black;
}

.rightSide{
  width:600px;
  padding: 10px 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom:3px solid black;
}

.displayData{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.wealthShow{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}